body {
	background: #f3f1ea;
	font-family: Helvetica;
	font-size: 14px;
	color: #252629;
	margin: 0px;
	overflow: hidden;
	overflow-y: auto;
}

.login {
	padding-top: 35px;
	text-align: right;
}

hr {
	margin: 0px;
	padding: 0px;
	height: 1px;
	border-top: 1px solid #9a9995;
	border-bottom: 1px solid #fff;
}

.card, .card-form , .card-form2{
  background-color: #fafafa;
  border-radius: 6px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #bdc3c7;
  overflow: hidden;
}

.card-form {
	padding-bottom: 0px;
}

.card-form2 {
	padding: 0px;
    margin-bottom: 15px;
    height: 350px;
}

.inner-card {
	padding: 3px;
}

.inner-card img {
	width: 85%;
}
.width {
	width: 85%;
}

#cost {
	background-image:url('/i/img/dollarbg.png');
	background-repeat:no-repeat;
	background-position:left 50%;  
	padding-left:25px;
	width: 85%;
}

.file {
	display: none;
	height: 100%;
	background: #f0efea;
	border: 1px solid rgb(204, 204, 204);
	width: 85%;
	text-align: center;
	border-radius: 6px;
	margin-left: 7.5%;
	padding-top: 7px;
	padding-bottom: 7px;
	vertical-align: middle;
}
.file:hover {
	cursor: pointer;
}


.login-btn {
	margin-top: 10px;
}

.edit-btn, .download-btn, .buy-btn{
	margin-top: 10px;
	margin-bottom: 10px;
}

.reg-btn {
	margin-top: 10px;
}

.title {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
	display: block;
}

.form_base {background-color:#252629;height:48px; line-height:48px; text-align:center; font-size:14px; color:#fff; margin-top: 10px;}
.form_base a:link,.form_base a:visited {color:#FFF; text-decoration:underline; font-weight:700;}
.form_base a:hover,.form_base a:active {color:#FFF;text-decoration:none; }

a {
	color: #2ec2ac;
}

.footer {
	font-size: 12px;
	text-align: center;
	
	padding: 40px;
	color: #979c9f;
	margin-top: 20px;
}

.footer a {
	color: #979c9f;
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}

.links {
	margin-bottom: 20px;
}

.logo {
	text-align: center;
}

.logoImg {
    padding-top: 9px;
    margin-bottom: 11px;
    width: 65px;
    height: 81px;
}

.logo-content
{
    padding-top: 5px;
    width: 35px;
    height: 40px;

}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { background:#2ec2ac; color: #fff; }

.green {
	color: #2ec2ac;
}

.red {
	color: #f44e98;
}

.actionsBar {
	background: #fafafa;
	border-bottom: 1px solid #979c9f;
}

.center {
	text-align: center;
}

.right { text-align: right; }

.actionLinks { margin: 0px; }
.actionLinks li {background: #fafafa; padding: 15px; color: #2ec2ac; font-weight: bold; margin: 0px;}

.actionLinks a { text-decoration: none;}
.actionLinks a:hover { text-decoration: underline; }

#register, #sell {
	overflow: hidden;
	width: 100%;
}

.formContainer {
	overflow:hidden;
}

#register .step {
	float:left;
	width:33.33333333333%;
}

#sell .step {
	float: left;
	width: 20%;
}

.textbox {
	vertical-align: middle;
	line-height: 20px;
	color: rgb(52, 73, 94);
	font-size: 14px;
	padding: 8px 5px;
	text-indent: 6px;
	border-radius: 6px 6px 6px 6px;
	background: #f9f9f5;
	border: 1px solid rgb(204, 204, 204);
}

.textbox:focus {
	outline: none;
	border-color: rgb(101, 104, 114);
	box-shadow: none;
	background: #fafafa;
}

.ui-menu li.ui-menu-item a {
	line-height: 30px;
}

#forgotLink {
	clear: both;
	margin-top: 15px;
	display: block;
}

.course-list {
	height: 225px;
	overflow: auto;
	text-align: center;
	margin-bottom: 32px;
}

.course-list ul, .course-list li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.course-list ul {
	margin: 0 auto;
}

.course-list li {
	padding: 5px;
	border-radius: 6px 6px 6px 6px;
	background: #f9f9f5;
	border: 1px solid rgb(204, 204, 204);
	margin-bottom: 5px;
}

.course-list li .rb {
	padding-right: 10px;
	width: 20%;
}

.course-list li table {
	width: 100%;
}


.progress { position:relative; width:90%; height: 30px; border: 1px solid #ddd; padding: 5px; border-radius: 3px; margin: 0 auto; margin-bottom: 10px;}
.bar { background-color: #2ec2ac; width:0%; height:20px; border-radius: 3px; }
.percent { position:absolute; display:inline-block; top:5px; left:48%; }

.terms {padding: 20px;}
.terms p {
	font-family: Helvetica;
	font-size: 14px;
	color: #252629;
	margin-bottom: 20px;
}

.col-6 a {
	text-decoration: none; color: #252629;
}
.col-6 a:hover>div:first-child {
	border: 1px solid #2ec2ac;
}
.note-course, .note-professor, .note-year, .note-title, .note-cost, .note-author {
	padding-top: 3px;
	padding-bottom: 3px;
}

.note-professor, .note-title, .note-author {
	background: #f0efe9;
}

.buy-table {
	width: 100%;
	padding: 5px;
	text-align: left;
}

.buy-table tr:nth-child(even) {
	background :#f0efe9;
}

.buy-table tr > td {
	padding-left: 5px;
}
.buy-table td {
	padding: 10px;
}

.date
{
    padding: 0 15px;
}

.email
{
    padding: 0 15px;
}

h1 { font-weight: bold; font-size: 14px;}

.rateit-selected {
    border: none;
    outline: none;
}

#landing1 {
	text-align: right;
}

/* Media queries */
@media (max-width: 1200px) {
	#landingimg1, #landingimg2 { display: none; }
}

/* for iPhones */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .card-form2
    {
        padding: 0px;
        margin-bottom: 15px;
        height: 350px;
    }
}

/* iPads */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
{
    .card-form2
    {
        padding: 0px;
        margin-bottom: 15px;
        height: auto;
    }
}