body {
	background: #f3f1ea;
	font-family: Helvetica;
	font-size: 14px;
	color: #252629;
	margin: 0px;
	overflow: hidden;
	overflow-y: auto;
}

hr {
	margin: 0px;
	padding: 0px;
	height: 1px;
	border-top: 1px solid #9a9995;
	border-bottom: 1px solid #fff;
}

a {
	color: #2ec2ac;
}

h1 { 
	font-weight: bold; 
	font-size: 14px;
}
